@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
    min-height: 100vh;
    font-family: 'Archivo Black', sans-serif;
}

body,
#container {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    background-color: rgb(255, 0, 0, 0.9);
    border-radius: 90px;
    height: 1200px;
    width: 1100px;
}

#logo {
    height: 110px;
    width: 210px;
    margin:0;
    padding: 0;
}

#logo img{
    transform: scale(0.5);
    margin:0;
    padding: 0;
}

#canvas-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    height: 960px;
    width: 960px;
}

.cells {
    box-sizing: border-box;
    background-color: white;
    border: 1px solid rgb(199, 199, 199, 0.2);
}

#btn-black,
#btn-white,
#btn-rainbow {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

#btn-black {
    background-color: black;
}

#btn-rainbow {
    background-image: linear-gradient( 89.7deg, rgba(223,0,0,1) 2.7%, rgba(214,91,0,1) 15.1%, rgba(233,245,0,1) 29.5%, rgba(23,255,17,1) 45.8%, rgba(29,255,255,1) 61.5%, rgba(5,17,255,1) 76.4%, rgba(202,0,253,1) 92.4% );;
}

#controls-colors {
    display: flex;
    gap: 100px;
    margin: 30px;
}

#controls {
    margin: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#controls label {
    font-size: 30px;
    color:rgb(247, 243, 43);
}

#controls-right button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
}

#controls-right input {
    text-align:center;
    padding: 0;
    width: 148px;
    height: 48px;
    border-radius: 20px;
}

